@import url("~@/common/less/variable.less");
.aside {
    .aside-content,
    .el-menu-v {
        height: 100%;
    }
    .aside-content {
        background-color: @aside-bg-color;
        border-right: solid 2px @border-color;
        color: #333;
    }
    .el-menu-v {
        border-right: none;
        text-align: left;
        padding-left: 20px;
    }
}